
.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
transition: 0.3s;
width: 100%;
display: flex;
position: relative;
}

.card:hover {
box-shadow: 2px 9px 20px rgba(0, 0, 0, 0.8);
}

.container {
padding: 15px 16px;
}
.image {
width: 200px;
padding: 20px;
}
img {
border-radius: 20px;
width: 100%;
}
#staff {
border-color: black;
border-radius: 15px;
padding: auto;
width: auto;
}

#add {
right: 10px;
position: absolute;
}
.btn {
background: transparent;
border: none;
font-size: 30px;
right: 10px;
outline: none;
position: absolute;
color: grey;
}

.containerMain{
    overflow: auto;
}
.container{
    display: flex;
    overflow: auto;
}
.content1{
    display: grid;
}
.content2{
    display: flex;
    width:100%;
}
#content3{
    display: grid;
}
.content4{
    display: flex;
}
.data{
    width:100%;
}
.self{
    width:80%
}
.com{
    width:100%;
}
.carddata{
    display: grid;
    grid-template-columns: 200px 1fr;
    column-gap: 10px;
    width: 100%;
    padding: 30px;
}
.cardcontent{
    display: inline-block;
    margin-top: 10px;
}
.hoursandminutes{
    grid-template-columns: auto auto auto 1fr auto;
    column-gap: 20px;
}
.buttonclass{
    grid-template-columns: auto auto auto 1fr auto;
    width: 100%;
}
.buttonclass1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    float: left;
    width: 80%;
}

/* .card{
    width: 100%;
    padding: 20px;
} */
.cart{
    width: 100%;
    padding-left: 10px;
}
@media screen and (max-width: 1200px){
    .container{
        display: grid;

    }
    .container.leftpart{
        width: 100%;
    }
    .content2{
        display: grid;
        width: 100%;
        padding:30px
    }
    .data{
        width: 100%;
    }
    .cart{
        width:100%;
        padding-left: 0px;
    }
    #content3{
        display: grid;
        width: 100%;
        min-height: 100vh;
        padding: 30px;
    }
    .content4{
        display: grid;
        width: 100%;
    }
    .self{
        width: 100%;
    }
    .cont{
        padding: 30px;
    }
    .prompt{
        width:280px
    }
}
